<div class="container-fluid">
    <div class="row justify-content-between ">
        <div class="col-md-3 d-flex align-items-center ">
            <i class="pi pi-arrow-right ps-2"></i>
            <span>تذكرة رقم #2342</span>
        </div>

        <div class="col-md-3 d-flex align-items-center justify-content-end">
            <button pButton type="button" icon="pi pi-file-edit ps-2" label="تعديل" class="p-button-text"></button>
            <!-- <button type="button" class="btn btn-light "> <i class="pi pi-file-edit ps-2"></i>
                <span>تعديل</span></button> -->
        </div>
    </div>

    <div class="row my-1">
        <div class="col-md-8">
            <app-chart></app-chart>
        </div>
        <div class="col-md-4">
            <app-ticket></app-ticket>
        </div>
    </div>

    <div class="row my-1">
        <app-table></app-table>
    </div>
</div>