<section class="table">
    <div class="row justify-content-between ">
        <div class="col-md-5">
            <span>مبيعات التذاكر</span>
            <div class="d-inline ">
                <span class="p-input-icon-right ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="ابحث عن ....." />
                </span>
                <button class="btn mx-2 border border-1 txt-color"><i class="pi pi-sliders-v"></i></button>
                <button class="btn mx-2 border border-1 txt-color"><i class="pi pi-sort-alt"></i></button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center p-2">
                    <p-inputSwitch [(ngModel)]="active"></p-inputSwitch>
                    <h5 class="d-inline pe-1 txt-color">مفعلة</h5>
                </div>
                <div>
                    <button class="btn main-bg text-white ">حجز تذكرة جديدة</button>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <p-table [value]="tableData" responsiveLayout="stack" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true" currentPageReportTemplate="عرض {first} من اصل {totalRecords} "
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr class="txt-color">
                    <th class="text-center txt-color">#</th>
                    <th class="text-center">المستخدم</th>
                    <th class="text-center">رقم التذكرة</th>
                    <th class="text-center" pSortableColumn="price">قيمة التذكرة <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th class="text-center">السينمات </th>
                    <th class="text-center">عدد الأشخاص</th>
                    <th class="text-center">عدد مرات الشراء</th>
                    <th class="text-center">التذكرة</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td class="text-center">{{ rowData.id }}</td>
                    <td class="text-center">
                        <div class="p-multiselect-representative-option">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex justify-content-center align-items-center w-100">
                                    <img [alt]="rowData.name" *ngIf="rowData.image" class="rounded-circle w-75"
                                        src="../../../assets/images/{{rowData.image}}.png" width="33"
                                        style="vertical-align: middle" />
                                    <div *ngIf="!rowData.image"
                                        class="bg-primary rounded-circle w-75 text-center text-white">
                                        <P class="m-0 p-2">M A</P>
                                    </div>
                                </div>
                                <div>
                                    <p class="m-0">{{rowData.name}}</p>
                                    <p class="m-0 text-muted">{{rowData.phoneNumber}}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">{{ rowData.ticketNumber }}</td>
                    <td class="text-center">{{ rowData.price | currency:'USD'}}</td>
                    <td class="text-center">
                        <p [pTooltip]="rowData.cinemasLocation" tooltipPosition="top">{{ rowData.cinemas }}</p>
                    </td>
                    <td class="text-center">{{ rowData.peopleCount }}</td>
                    <td class="text-center">{{ rowData.purchaseCount }}</td>
                    <td class="text-end">
                        <div>
                            <div class="row  ">
                                <div class="col-2 d-flex align-items-center">
                                    <button class="ticket-icon-bg btn border border-1 txt-color"><i
                                            class="pi fw-bolder ticket-icon pi-ticket"></i></button>
                                </div>
                                <div class="col-7 pt-2">
                                    <h6>{{ rowData.ticket }}</h6>
                                    <p class="text-muted">{{ rowData.ticketDetails }}</p>
                                </div>
                                <div class="col-1 d-flex align-items-center">
                                    <button (click)="saveFile()" class="btn border border-1 txt-color"><i
                                            class="pi pi-download"></i></button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</section>