<section class="main-bg text-white h-100 rounded-3">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7 d-flex align-items-center justify-content-center">
            <P class="pt-3">عرض التذكرة الخاص بالفيلم</P>
        </div>
        <div class="col-md-1 d-flex align-items-center justify-content-center">
            <i pTooltip="حذف" tooltipPosition="bottom" class="pi pi-trash cursor-pointer "></i>
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-md-7 bg-light text-dark rounded-3 ">
            <div class="d-flex justify-content-center w-100 p-3  ">
                <span id="copyText">www.tazkty.com/473847</span>
                <i pTooltip="نسخ" tooltipPosition="bottom" class="pi pi-copy pt-1 pe-2 cursor-pointer"
                    (click)="copyToClipboard()"></i>
            </div>
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-md-7">
            <div class="d-flex justify-content-center w-100 p-2  ">
                <span>فعال حتي 15 يوليو 2023</span>
            </div>
        </div>
    </div>

    <div class="dashed-line d-flex justify-content-between">
        <div class="half-circle left"></div>
        <div class="half-circle right"></div>
    </div>

    <div class="row justify-content-between ">
        <div class="col-md-5 p-4">
            <h6>خصم</h6>
            <div class="d-flex justify-content-between">
                <h6 class="pt-2">25%</h6>
                <button class="btn text-white  border border-light">
                    <i class="pi pi-send cursor-pointer "></i>
                    مشاركة
                </button>
            </div>
        </div>

        <div class="col-md-5">
            <qrcode [qrdata]="qrData" size="220" level="M"></qrcode>
        </div>

    </div>

</section>